* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family:Arial,Helvetica,sans-serif;
}
html, body {
  background-color: #222222;
  color: #FFFFFF;
  height: 100%;
}
a {color: #FFFFFF;}
#navbar {height: 5%;}
.column {
  width: 300px;
  float: left;
  height: 95%;
}
.column_content {
  height: 96%;
  overflow: auto;
}
.column_header {
  height: 3%;
  vertical-align: middle;
  background-color: #EEEE00;
  color: black;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tweet {
  background-color: #22222D;
  color: white;
  display: table;
  width: 100%;
  border-bottom: 1px solid black;
}
.tweet_avatar {
  border-radius: 3px;
  float: left;
  margin: 5px;
}
.tweet_body {display: table;}
.tweet_header {font-size: 14px;}
.tweet_info {
  font-size: 10px;
}
